:host {
  display: flex;
  flex-direction: column;
}

.header {
  margin: 20px;
}

.placeholder {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.list {
  border: 0;
  display: flex;
  min-height: 40px;
  padding: 0 20px;
  align-items: center;
  background: transparent;
  outline: none;
  color: white;
  font-style: 14px;
}

.list--selected {
  background: #ffffff30;
}

.title-input {
}
